<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Brandoutlet_Training>
      <version>1.0.0</version>
    </Brandoutlet_Training>
  </modules>
  <global>
    <helpers>
      <brandoutlet_training>
        <class>Brandoutlet_Training_Helper</class>
      </brandoutlet_training>
    </helpers>
  </global>
  <frontend>
    <routers>
      <brandoutlet_training>
        <use>standard</use>
        <args>
          <module>Brandoutlet_Training</module>
          <frontName>training</frontName>
        </args>
      </brandoutlet_training>
    </routers>
  </frontend>
</config>
